.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

#u2028-4
{
	font-family: nunito-n3, sans-serif;
}

#u2026-4,#u16419-4,#u3667-4,#u2035-4,#u3670-4
{
	font-family: nunito-n4, sans-serif;
}

#u16099-4,#u15967-4
{
	font-family: nunito-n4, sans-serif;
}

#u15965-6
{
	font-family: nunito-n4, sans-serif;
}

#u15969-4
{
	font-family: nunito-n4, sans-serif;
}

#u15970-6
{
	font-family: nunito-n4, sans-serif;
}

#u15956-4
{
	font-family: nunito-n7, sans-serif;
}

#u15962-4
{
	font-family: nunito-n7, sans-serif;
}

#u15950-4
{
	font-family: nunito-n7, sans-serif;
}


