.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

#u2028-4
{
	font-family: nunito-n3, sans-serif;
}

#u2026-4,#u16419-4,#u3667-4,#u2035-4,#u3670-4
{
	font-family: nunito-n4, sans-serif;
}

#u1579-4,#u1087-4,#u1578-4,#u1580-4
{
	font-family: nunito-n4, sans-serif;
}

#u1582-35,#u1581-18,#u1583-4
{
	font-family: nunito-n3, sans-serif;
}

